.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 100;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header .login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  max-width: 1200px;
  margin: 10px auto 10px auto;
}
.header .login .toput {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
}
.header .login .toput a {
  color: white;
  font-size: 13px;
  font-weight: 400;
}
.header .login .toput .otis {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.header .login .toput .otis img {
  width: 18px;
  height: 18px;
}
.header .login .register {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
}
.header .login .register .waring a {
  color: white;
  font-size: 13px;
}
.header .logo {
  width: inherit;
  max-width: 1200px;
  margin: 5px auto 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo .otis-logo {
  display: flex;
  align-items: center;
}
.header .logo .otis-logo img {
  width: 90px;
  height: 100%;
  border-radius: 80px;
}
.header .logo .otis-logo h1 {
  font-size: 80px;
  font-family: "Parisienne", cursive;
}
.header .logo .search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 840px;
  position: relative;
}
.header .logo .search .otis-searchbar {
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.09);
  --focus-indicator-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  box-sizing: border-box;
  padding: 0.1875rem;
  border-radius: 2px;
  background: #fff;
}
.header .logo .search .otis-searchbar .otis-searchbar__main {
  display: flex;
  flex: 1;
}
.header .logo .search .otis-searchbar .otis-searchbar__main .otis-searchbar-input {
  background-color: #fff;
  border-color: #fff;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 0 0.625rem;
  position: relative;
}
.header .logo .search .otis-searchbar .otis-searchbar__main .otis-searchbar-input .otis-input {
  display: flex;
  flex: 1;
  align-items: center;
  outline: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.header .logo .search .otis-searchbar .otis-searchbar__search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 0 15px;
  min-width: 60px;
  max-width: 190px;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #fb5533;
  color: #fff;
}
.header .logo .search .otis-searchbar .otis-searchbar__search-button .otis-svg-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: currentColor;
  position: relative;
  cursor: pointer;
}
.header .logo .search .menu-search .menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .logo .shop {
  display: flex;
  margin-top: -20px;
  justify-content: center;
  width: 50px;
}
.header .logo .shop img {
  width: 100%;
}

.home-page .section {
  background-color: #fff;
  border-radius: 10px;
}
.home-page .section .magintop {
  margin-top: 180px;
  width: inherit;
  max-width: 1200px;
}
.home-page .section .magintop .section-menu .image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.home-page .section .magintop .section-menu .image .img1 {
  grid-column: 1/3;
}
.home-page .section .magintop .voucher {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 10px auto 0px;
}
.home-page .section .magintop .voucher .free {
  color: black;
  text-align: center;
  font-size: 13px;
}
.home-page .section .magintop .voucher .free img {
  width: 40px;
  height: 40px;
  margin: auto;
}
.home-page .section .list-shop .hear-shop h1 {
  color: black;
}
.home-page .section .list-shop .menu-shop {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
}
.home-page .section .list-shop .menu-shop .list-item {
  height: 100%;
  overflow: hidden;
  touch-action: pan-y;
}
.home-page .section .list-shop .menu-shop .list-item .item-book {
  width: 140%;
  transform: translate(0px, 0px);
  transition: all 500ms ease 0s;
  width: 140%;
  transform: translate(0px, 0px);
  display: flex;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  visibility: visible;
}
.home-page .section .list-shop .menu-shop .list-item .item-book .img-item {
  width: 10%;
}
.home-page .section .list-shop .menu-shop .list-item .item-book .img-item .img {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #d3d3d3;
  margin: 2px;
}
.home-page .section .list-shop .menu-shop .list-item .item-book .img-item .img img {
  height: 150px;
  width: 150px;
}
.home-page .section .list-shop .menu-shop .list-item .item-book .img-item .img:hover {
  transform: translateZ(0);
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.52);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */